<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listPlayer">
      <ion-icon name="contacts"></ion-icon>
      <ion-badge color="danger" *ngIf="quantPlayer > 0">{{quantPlayer}}</ion-badge>
      <ion-label>Player</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listGamer">
      <ion-icon name="send"></ion-icon>
      <ion-badge color="danger">{{quantGamer}}</ion-badge>
      <ion-label>Lista de Jogos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
