<ion-header>
  <ion-toolbar>
    <ion-title>
      Gamers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/tabs/addGamer">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  

  <ion-list *ngIf="gamer">
    <ion-item *ngFor="let g of gamer" routerLink="/tabs/perfilGamer/{{g.key}}">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
            <ion-label>{{ g.nome }}</ion-label>
      <ion-text>{{ g.categoria }}</ion-text>


      

    </ion-item>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

<ion-content>