<ion-header>
  <ion-toolbar>
    <ion-title>
      Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/tabs/addGame">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="games">
    <ion-item-sliding *ngFor="let g of games">
      <ion-item-options side="start">
        <ion-item-option color="" (click)="editar(g)">
          <ion-icon slot="icon-only" name="create"></ion-icon>Atualizar
        </ion-item-option>
      </ion-item-options>

      <ion-item routerLink="/tabs/perfilGame/{{g.key}}">
        <ion-avatar slot="start">
          <img src="assets/box.jpg" *ngIf="!g.fotos">
          <img [src]="g.fotos[0]" *ngIf="g.fotos">
        </ion-avatar>
        <ion-label>{{ g.nome }}</ion-label>
        <ion-text>{{ g.descricao }}</ion-text>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="apagar(g)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-content>