<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Jogos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-title>Spider Man</ion-card-title>
      <img src="https://upload.wikimedia.org/wikipedia/pt/7/78/Spider-Man_jogo_2018_capa.png" alt="" />
      <ion-card-header>
        <ion-card-title>Grand Theft Auto V</ion-card-title>
      </ion-card-header>
      <img src="http://s2.glbimg.com/vzNXMUGlexLYtTxSuxdX47CTJRLLkRxw_Iug2BPwenNIoz-HdGixxa_8qOZvMp3w/s.glbimg.com/jo/g1/f/original/2013/04/02/ogt0rx5z.jpg" alt="" />
      <ion-card-content>
      </ion-card-content>
    </ion-card>
</ion-content>
