<ion-header>
    <ion-toolbar>
      <ion-title>
        Lista de Jogos
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    

      <ion-card class="welcome-card">
        <ion-card-title>Lol</ion-card-title>
        <img src="https://img.olhardigital.com.br/uploads/acervo_imagens/2019/05/r16x9/20190522035739_1200_675_-_league_of_legends.jpg" alt="" />
        <ion-card-header>
          <ion-card-title>Grand Theft Auto V</ion-card-title>
        </ion-card-header>
        <img src="http://s2.glbimg.com/vzNXMUGlexLYtTxSuxdX47CTJRLLkRxw_Iug2BPwenNIoz-HdGixxa_8qOZvMp3w/s.glbimg.com/jo/g1/f/original/2013/04/02/ogt0rx5z.jpg" alt="" />
      </ion-card>

      
      
  </ion-content>
  