<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro do Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="onsubmit(fc)">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="game.nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-input type="text" [(ngModel)]="game.categoria" name="categoria" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Console</ion-label>
      <ion-input type="text" [(ngModel)]="game.console" name="console" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Decrição</ion-label>
      <ion-input type="text" [(ngModel)]="game.descricao" name="descricao" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" [(ngModel)]="game.quant" name="quant" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="number" [(ngModel)]="game.valor" name="valor" required></ion-input>
    </ion-item>
   
    <ion-item lines="none">
      <ion-button type="submit" color="primary" [disabled]="fc.invalid">Salvar</ion-button>
      <ion-button type="reset" color="danger">Cancelar</ion-button>
    </ion-item>
  </form>
</ion-content>