<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro do Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="onsubmit(fc)">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="gamer.nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-input type="text" [(ngModel)]="gamer.categoria" name="categoria" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Console</ion-label>
      <ion-input type="text" [(ngModel)]="gamer.console" name="console" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descriçao</ion-label>
      <ion-input type="text" [(ngModel)]="gamer.descricao" name="descricao" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="text" [(ngModel)]="gamer.qtd" name="quantidade" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="text" [(ngModel)]="gamer.valor" name="valor" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button type="submit" color="primary">Salvar</ion-button>
      <ion-button type="reset" color="danger">Cancelar</ion-button>
    </ion-item>
  </form>
</ion-content>