
ion-slide > img {
  height: 200px;
  width: 100%;
}

.valor{
  color: #f00;
  font-weight: bold;
}

ion-card-content {
  background-color: var(--ion-color-dark) ;
  color: var(--ion-color-light) ;
}


