<ion-header>
  <ion-toolbar>
    <ion-title>Perfil Gamer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-item>

  <ion-item>
    <ion-text>
      <h2>{{gamer.nome}}</h2>
      <p>{{gamer.categoria}}</p>
      <p>{{gamer.console}}</p>
      <p>{{gamer.descricao}}</p>
      <p>{{gamer.qtd}}</p>
      <p>{{gamer.valor}}</p>
    </ion-text>
  </ion-item>
</ion-content>